@media screen and (max-width: 1399px) {
    .user-profile-posts {
        max-width: 750px;
    }
}

@media screen and (min-width: 1440px) {
    .user-profile-posts {
        max-width: 840px;
    }
}

.story-bg .swiper-button-next:after, .story-bg .swiper-button-prev:after {
    color: white !important;
}

.modal::-webkit-scrollbar {
    display: none;
}

/* Edit profile  */
.profile-parent {
    margin-top: 10px;
}

.profile-parent form {
    margin-top: 15px;
}


.profile-pic-wrapper {
    display: flex;
    align-items: center;
}

.profile-pic-wrapper .pictext1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.01em;
}

.profile-pic-wrapper .pictext2 {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.01em;
}

.custom-file {
    width: 20px;
    height: 20px;
    display: flex;
    transform: translate(50px, -22px);
}

.custom-file>div {
    display: flex;
}

.custom-file-input_ {
    user-select: auto;
    width: 100%;
    opacity: 0;
}

.custom-file-label_ {
    cursor: pointer;
    z-index: 5;
    user-select: auto;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-label_::after {
    display: none;
}

.profile-pic-wrapper2 {
    text-align: center;
    width: 70px;
    height: 70px;
    margin-right: 13px;
}

.profile-pic-wrapper2>img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.load-form {
    border-radius: 5px;
    padding: 20px 30px;
    margin-bottom: 20px;
    width: 100%;
}

.load-input-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.load-input {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    margin-bottom: 15px;
    width: 48%;
}

.load-input input {
    width: 100%;
}

.load-input label {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 11px;
}

.load-input input, .load-input textarea, .load-input select {
    height: 40px;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: left;
}

.load-input .form-input_.select1 {
    width: 220px;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
}

.button-primary {
    height: 37px;
    width: 140px;
    border-radius: 4px;
}


/* live video streaming */
.trending-gamepay-area {
    padding: 20px 20px;
    border-radius: 5px;
}

.mb-30 {
    margin-bottom: 30px;
}

.hf-section-title .title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 26px;
    position: relative;
    line-height: 1;
    margin-bottom: 0;
    padding-left: 17px;
}

.hf-section-title .title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: #fa0101;
}

.section-btn {
    text-align: -webkit-right;
}

.mb-50 {
    margin-bottom: 50px;
}

.gameplay-thumb {
    position: relative;
    margin-bottom: 22px;
}

.gameplay-thumb>a {
    display: block;
    position: relative;
}

.gameplay-thumb>a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #544a7d;
    background: -webkit-linear-gradient(to bottom, transparent, #111111);
    background: linear-gradient(to bottom, transparent, #111111);
    opacity: .76;
    border-radius: 10px;
}

.gameplay-thumb>a .play {
    max-width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.gameplay-thumb img {
    max-width: 100%;
    border-radius: 10px;
}

.treand-gameplay-overlay {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.treand-gameplay-overlay ul .quality {
    background: transparent;
    color: #fff;
    margin-left: 9px;
    border: 2px solid #fff;
    padding: 5px 10px;
}

.treand-gameplay-overlay ul li {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
}

.gameplay-content {
    margin-right: 50px;
}

.gameplay-content .title {
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif, "Roboto", sans-serif;
    margin-bottom: 12px;
}

.gameplay-content .title a {
    transition: .3s all ease-in-out;
}

.gameplay-content .title a:hover {
    color: #fa0101;
}

.gameplay-meta ul {
    display: flex;
    align-items: center;
}

.gameplay-meta ul li {
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 0;
    font-weight: 600;
}

.gameplay-status {
    margin-left: auto;
}

.gameplay-status>span {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: #fa0101;
    border-radius: 4px;
    padding: 2px 8px;
    display: inline-block;
}

@media (max-width: 1199.98px) {
    .treand-gameplay-overlay {
        right: 15px;
        bottom: 15px;
    }

    .gameplay-content {
        margin-right: 30px;
    }

    .gameplay-content .title {
        font-size: 16px;
    }

}

@media (max-width: 767.98px) {
    .gameplay-content .title {
        font-size: 18px;
    }

    .gameplay-status {
        margin-top: 13px;
    }
}


@media only screen and (min-width: 576px) and (max-width: 767px) {
    .gameplay-thumb img {
        width: 100%;
    }

    .gameplay-status {
        margin-top: 0;
    }
}


/* FriendBox */
.friend-box {
    box-shadow: none;
}

.friend-list-box .card-title, .create-title .card-title {
    /* position: sticky;
    top: 68.5px;
    z-index: 10; */
    border-radius: 5px;
}

/* @media only screen and (max-width: 576px) {
    .friend-list-box .card-title,.create-title .card-title {
        top: 61px;
    }
} */

.friend-list-box .card-title h3, .create-title .card-title h3 {
    cursor: pointer;
}

.friend-list-box .card-title h3.active, .create-title .card-title h3.active {
    color: #ff6559;
}

.friend-list-box .card-title>div>div {
    width: 30px;
}

.react-input-emoji--container {
    border-radius: 10px !important;
}

/* activity */
.profile-page .activity {
    padding: 25px 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 2%);
}

.profile-page .activity h2 {
    font-size: 26px;
}

.profile-page .activity {
    font-weight: 500;
}

.profile-page .activity .card-title {
    margin-bottom: 10px;
}

.profile-page .activity-graph .activity-graph-filter span.active {
    color: #ff6559;
}

.profile-page .activity-graph .activity-graph-filter span {
    cursor: pointer;
}

.profile-page .activity-graph .activity-graph-filter span:not(:first-child) {
    margin-left: 15px;
}

.profile-page .activity-graph .activity-radio-wrapper {
    padding: 10px 0;
    width: 150px;
}

.profile-page .activity-graph .activity-radio-wrapper input {
    margin-right: 10px;
}

.activity-stats .stats-wrapper {
    flex-wrap: wrap;
    row-gap: 25px;
}

.activity-stats .stats-block {
    min-width: 125px;
}

.activity-stats .stats-block h3 {
    font-size: 20px;
    font-weight: 600;
}

.activity-stats .stats-block .stats-head {
    font-size: 14px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
}

.activity-stats .stats-block .stats-head span {
    margin-right: 2px;
}

.profile-page .activity-table {
    border-top: 1px solid #b7b7b7;
    padding-top: 10px;
    overflow-x: auto;
}

.profile-page .activity-table table tbody {
    text-transform: uppercase;
}

.profile-page .activity-table thead th {
    color: #b7b7b7;
    border-color: #b7b7b7;
}

.profile-page .activity-table tbody tr td:first-child {
    display: flex;
    align-items: center;
}


@media screen and (max-width:1320px) {
    .activity-stats .stats-block {
        min-width: 33%;
    }
}

@media screen and (max-width:1020px) {
    .activity-stats .stats-block {
        min-width: 50%;
    }
}

@media screen and (max-width:576px) {
    .profile-page .activity {
        border-radius: 0;
    }

    .profile-page .activity-graph .card-title {
        display: block !important;
    }

    .profile-page .activity-graph .activity-graph-filter {
        margin: 10px 0 20px 0;
    }
}

@media screen and (max-width:450px) {
    .activity-stats .stats-block {
        min-width: 100%;
    }
}

/* story */
.friend-story .media.list-media:not(:last-child) {
    margin-bottom: 10px;
}

.left-box .modal-flex .friend-story::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 991px) {
    .friend-story .media.list-media:not(:last-child) {
        margin-bottom: 0;
    }

    .left-box .modal-flex,
    .left-box .modal-flex .friend-story,
    .left-box .modal-flex .friend-story .slider-nav {
        display: flex;
        align-items: center;
    }
}

/* explore  */
.profile-page .explore {
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 2%);
}

.explore .explore-slider {
    padding-bottom: 20px;
}

.explore .card-title h3 {
    margin-bottom: 15px;
}

.explore .swiper-slide {
    width: 300px;
}

.swipper-carousel {
    position: relative;
    margin-top: -5px;
    bottom: -5px;
    margin-bottom: -15px;
    display: flex;
    align-items: center;
}

.nft_pic {
    overflow: hidden;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
    width: 100%;
    background-size: cover;
}

.nft_pic img {
    transition: 1.4s all ease-in-out;
}

.nft_pic_info {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    top: 0;
    z-index: 1;
    font-size: 20px;
    color: #ffffff;
}

.nft_pic_title {
    display: block;
    font-weight: bold;
}

.nft_pic_by {
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, .6);
}

.swipper-carousel .text-dark {
    color: #212529 !important;
}

.swipper-carousel .owl-item img {
    display: block;
    width: 100%;
}

.nft_pic.nft_multi a {
    position: relative;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: calc(50% - 5px);
    float: left;
    overflow: hidden;
}

.nft_pic.nft_multi .nft_pic_title {
    position: absolute;
    margin: 10px;
    z-index: 1;
}

.nft_pic.nft_multi .nft_pic_title h4 {
    font-size: 16px;
    color: #ffffff;
    margin: 0;
}

.nft_pic.nft_multi .nft_pic_title span {
    color: rgba(255, 255, 255, .5);
}

.nft_pic.nft_multi a:nth-child(1) {
    margin: 0 5px 5px 0;
}

.nft_pic.nft_multi a:nth-child(2) {
    margin: 0 0 5px 5px;
}

.nft_pic.nft_multi a:nth-child(3) {
    margin: 5px 5px 0 0;
}

.nft_pic.nft_multi a:nth-child(4) {
    margin: 5px 0 0 5px;
}

/* explore-newItem */
.explore-newItem .nft__item {
    position: relative;
    padding: 20px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin-bottom: 25px;
}

.author_list_pp {
    position: absolute;
    margin-top: 2px;
    margin-left: 10px;
    display: inline-block;
    top: 10px;
    width: 50px;
    height: auto;
    z-index: 1;
}

.nft__item .author_list_pp {
    margin: 0;
}

.nft__item_like {
    bottom: 22px;
    font-size: 14px;
    float: right;
}

.nft__item_like * {
    transition: .7s;
    outline: none;
}

.nft__item_like span {
    color: #808080;
    margin-left: 5px;
    font-size: 12px;
}

.author_list_pp img {
    width: 100%;
    border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    position: relative;
    z-index: 1;
}

.nft__item img, .nft__item video {
    width: 100%;
    height: auto !important;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.author_list_pp img {
    width: 100%;
    border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    position: relative;
    z-index: 1;
}

.nft__item img, .nft__item video {
    width: 100%;
    height: auto !important;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    transition: 1.2s all ease-in-out;
}

.nft__item_wrap {
    margin-bottom: 10px;
    margin-top: 15px;
    border-radius: 8px;
    overflow: hidden;
    height: 190px;
}

.nft__item_wrap img {
    height: 190px !important;
    object-fit: cover;
}

@media screen and (max-width:540px) {
    .nft__item_wrap {
        height: 300px;
    }

    .nft__item_wrap img {
        height: 300px !important;
        object-fit: cover;
    }
}

.nft__item img:hover, .nft__item video:hover {
    transform: scale(1.2);
}

img.nft__item_preview {
    display: inline;
}

.nft__item_info {
    position: relative;
}

.nft__item_info a {
    font-weight: bold;
}

.nft__item h4 {
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 5px;
}

.nft__item_price {
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.nft__item_price span {
    margin-left: 10px;
    font-weight: 700;
}

.nft__item_action {
    font-size: 14px;
}

.de_countdown {
    position: absolute;
    right: 20px;
    background: #ffffff;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border: solid 2px #dddddd;
    z-index: 100;
    color: #0d0c22;
    min-width: 130px;
    padding-left: 10px;
    text-align: center;
}

.text-white {
    color: #fff !important;
}

.de_countdown.bg-color-secondary {
    border: none;
}

.bg-color-secondary {
    background: linear-gradient(to right, #ed406c 0%, #8364e2 100%);
}