@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.container_ {
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    height: fit-content;
    flex-direction: column;
}

.form_ .button {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 305px;
    height: 55px;
    outline: none;
    align-self: center;
    text-decoration: none;
    cursor: pointer;
    background: linear-gradient(180deg, #e3556f 0%, rgba(85, 0, 255, 0.88) 100%);
    border-radius: 37px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    align-items: center;
    font-weight: 500;
    border: 0.5px solid #3b36fb;
    text-transform: capitalize;
}
.form_ .btn-gp_{
    height: 50px;
}
.form_ .signup {
    max-width: 240px;
}

.btn-signup {
    max-width: 290px;
}

.btn-login {
    max-width: 150px;
}

.form_ {
    border-radius: 17px;
    width: 100%;
    max-width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: double 1px transparent;
    border-radius: 30px;
    background-image: linear-gradient(144.32deg, #1c1e24 -1.23%, #0c0c0e 104.07%),
        linear-gradient(to bottom, #777171, #111);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.form_ .form-title_ {
    font-weight: 600;
    margin-top: 50px;
    font-size: 48px;
    line-height: 72px;
    color: #fff;
}

.form_ .btn-gp {
    width: 430px;
    height: 50px;
    margin: 42px auto;
    padding: 5px auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.form_ .btn-social {
    background: #ffffff;
    border: 1px solid #e4d9d9;
    width: 195px;
    border-radius: 100px;
    cursor: pointer;
}

.form_ form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_ form input {
    border: none;
    outline: none;
    background: transparent;
    color: #bdadad;
    border-bottom: 1px solid #e4d9d9;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    margin: 20px auto;
}

.form_ .btn-form_ {
    margin-top: 40px;
}

.form_ form .icon {
    width: 20px;
    display: flex;
    margin: -47px 0 45px 93%;
}

.form_ .already {
    display: flex;
    width: 100%;
    margin: 25px auto;
    max-width: 180px;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #bdadad;
}

.form_ .signup {
    max-width: 240px;
}

.form_ .already a {

    cursor: pointer;
    width: 70%;
    font-family: "Poppins", sans-serif;
    background: transparent;
    max-width: 313px;
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px auto;
    padding: 20px 15px;
    color: #a4a4a4;
    text-decoration: none;
    border-radius: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    text-decoration: underline;
    width: fit-content;
    padding: 0;
    margin: 0;
    color: #bdadad;
}

.sm {
    display: none;
}

/* image {
    width: 22px;
    height: 22px;
    border: 1px solid #fff;
} */

.Mui-selected {
    background-color: #5e00d4 !important;
}

.css-13xfq8m-MuiTabPanel-root {
    padding: 20px 0 !important;
}

.css-1pt6dxo-MuiTabPanel-root {
    padding: 0 !important;
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
    background: #111 !important;
}

@media screen and (max-width: 899px) {
    .lg {
        display: none;
    }

    .sm {
        display: flex;
        padding: 8px auto;
    }

    .form_ {
        height: fit-content;
        border-radius: 8px;
    }

    .form_ .btn-gp {
        width: 120px;
    }

    .form_ .form-title_ {
        text-transform: capitalize;
        margin-top: 20px;
        font-size: 25px;
    }

    .form_ form {
        width: 80%;
    }

}

@media screen and (max-width: 630px) {

    .css-heg063-MuiTabs-flexContainer {
        justify-content: space-evenly;
    }

    .form_ form {
        width: 90%;
    }

    .form_ .button {
        font-size: 10px;
        line-height: 15px;
        width: 145px;
        height: 25px;
        box-shadow: 0px 4.26151px 9.94353px rgba(80, 4, 235, 0.5);
    }

    .form_ form .btn-form_ {
        width: 210px;
        font-size: 16px;
        height: 50px;
        margin: 17px auto 30px auto;
    }

    .btn-signup {
        width: 140px;
    }
}